security:
    role_hierarchy:
        ROLE_SUPER_ADMIN: ROLE_USER
    encoders:
        App\Entity\User:
            algorithm: argon2i
    # https://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        db_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        authentication:
            pattern: ^/authorizations$
            anonymous: ~
            stateless: true
            simple_preauth:
                authenticator: App\Security\HTTP\JSONAuthenticator
        main:
            anonymous: ~
            stateless: true
            guard:
                authenticators:
                    - App\Security\Guard\JWTAuthenticator
